INPUT_DIR="Z:\DATA\SBEAM"
OUTPUT_DIR="Z:\WWW\domains\www.agrarix.net\pages\sbeam"
INDEX_FILE="index.html"
LOG_FILE="html-sbeam.log"
VERSION="1.02"
FFACE="verdana"
FSIZE="6"
HOSTNAME="xynix"
SIZE_MOBILE="0.9em"
SIZE_DESKTOP="1.25em"
TITLE="SunnyBEAM DATA (van de zonnepanelen op CHL14)"
